* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: aliceblue;
    margin: 2.5rem;

}

/* Header stytling */
header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: solid aliceblue;
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav ul li {
    padding: 1rem;
}

/* Div styling */

.skills-list {
    list-style: none;
}

.container .row .skills-list ul li {
    padding: .25rem;
}

/* SVG Spacing */
img {
    padding: 0px 25px 25px;
}

/* General styling */
a {
    text-decoration: none;
    color: aliceblue;
}


p {
    line-height: 2rem;
}
